<% @page = "home" %>

	<div class="home_images">
		
		<div class="i home_image0">
			<%= image_tag @work1.image1(:medium) %>
		</div>

		<div class="i home_image1">
			<%= image_tag @work2.image1(:small) %>
		</div>

		<div class="i home_image2">
			<%= image_tag @work3.image1(:large) %>
		</div>	

	</div>
	



<div class="homecontact">
	<ul>
		<li><%= mail_to "hello@lucybrown.co", ("hello@lucybrown.co") %></li>
		<li>+44 (0)7701008030</li>
		<li><%= link_to "@lucybrownco", ("http://twitter.com/lucybrownco") %></li>
	</ul>
</div>

