<% @page = "home" %>

	<div class="home_images">
		
		<div class="i home_image0">
			<% if @work1 %>
				<%= link_to (image_tag @work1.image1(:medium)), works_path %>
			<% end %>
		</div>

		<div class="i home_image1">
			<% if @work2 %>
				<%= link_to (image_tag @work2.image1(:small)), works_path %>
			<% end %>	
		</div>

		<div class="i home_image2">
			<% if @work3 %>
				<%= link_to (image_tag @work3.image1(:large)), works_path %>
			<% end %>
		</div>	

	</div>
	



<div class="homecontact">
	<ul>
		<li><%= mail_to "lucy@lucybrownstudio.com", ("lucy@lucybrownstudio.com") %></li>
		<li><%= link_to "@lucybrownco", ("http://twitter.com/lucybrownco") %></li>
		<li>+44 (0)7701008030</li>
	</ul>
</div>

