<% @page = "work" %>
<% @subpage = "personal" %>


<!-- Personal Work -->

<div class="work_index_box">

	<h2 class="category <%= "active" if @subpage == "personal" %>"><%= link_to "Personal Work", works_path %></h2>
	<h2 class="category <%= "active" if @subpage == "client" %>"><%= link_to "Client Work", clients_path %></h2>

	<% if @works1 %>
		<div class="work_index_occurance <%= 'three' if @works1_total >= 1 && @works1_total <= 3 %><%= 'six' if @works1_total >= 4 && @works1_total <= 6 %><%= 'nine' if @works1_total >= 7 && @works1_total <= 9 %><%= 'eleven' if @works1_total >= 10 && @works1_total <= 11 %><%= 'fourteen' if @works1_total >= 12 && @works1_total <= 15 %>">
		
			

				<% @b = Hash[@works1.map.with_index.to_a] %>

				<% @works1.each do |work| %>

						
						<% if [1, 4, 7, 8, 12].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:small)), work_path(work) %>
							</div>
						<% end %>


						<% if  [0, 5, 6, 9, 13].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:medium)), work_path(work) %>
							</div>
						<% end %>

					
						<% if [2, 3, 10, 11].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:large)), work_path(work) %>
							</div>
						<% end %>

				<% end %>

		</div>
	<% end %>


	<!-- 2nd instance -->
	<% if @works2 %>
		<div class="work_index_occurance <%= 'three' if @works2_total >= 1 && @works2_total <= 3 %><%= 'six' if @works2_total >= 4 && @works2_total <= 6 %><%= 'nine' if @works2_total >= 7 && @works2_total <= 9 %><%= 'eleven' if @works2_total >= 10 && @works2_total <= 11 %><%= 'fourteen' if @works2_total >= 12 && @works2_total <= 15 %>">
		
			

				<% @b = Hash[@works2.map.with_index.to_a] %>

				<% @works2.each do |work| %>

						
						<% if [1, 4, 7, 8, 12].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:small)), work_path(work) %>
							</div>
						<% end %>


						<% if  [0, 5, 6, 9, 13].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:medium)), work_path(work) %>
							</div>
						<% end %>

					
						<% if [2, 3, 10, 11].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:large)), work_path(work) %>
							</div>
						<% end %>

				<% end %>

		</div>
	<% end %>




	<!-- 3rd instance -->
	<% if @works3 %>
		<div class="work_index_occurance <%= 'three' if @works3_total >= 1 && @works3_total <= 3 %><%= 'six' if @works3_total >= 4 && @works3_total <= 6 %><%= 'nine' if @works3_total >= 7 && @works3_total <= 9 %><%= 'eleven' if @works3_total >= 10 && @works3_total <= 11 %><%= 'fourteen' if @works3_total >= 12 && @works3_total <= 15 %>">
		
			

				<% @b = Hash[@works3.map.with_index.to_a] %>

				<% @works3.each do |work| %>

						
						<% if [1, 4, 7, 8, 12].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:small)), work_path(work) %>
							</div>
						<% end %>


						<% if  [0, 5, 6, 9, 13].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:medium)), work_path(work) %>
							</div>
						<% end %>

					
						<% if [2, 3, 10, 11].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:large)), work_path(work) %>
							</div>
						<% end %>

				<% end %>

		</div>
	<% end %>




	<!-- 4th instance -->
	<% if @works4 %>
		<div class="work_index_occurance <%= 'three' if @works4_total >= 1 && @works4_total <= 3 %><%= 'six' if @works4_total >= 4 && @works4_total <= 6 %><%= 'nine' if @works4_total >= 7 && @works4_total <= 9 %><%= 'eleven' if @works4_total >= 10 && @works4_total <= 11 %><%= 'fourteen' if @works4_total >= 12 && @works4_total <= 15 %>">
		
			

				<% @b = Hash[@works4.map.with_index.to_a] %>

				<% @works4.each do |work| %>

						
						<% if [1, 4, 7, 8, 12].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:small)), work_path(work) %>
							</div>
						<% end %>


						<% if  [0, 5, 6, 9, 13].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:medium)), work_path(work) %>
							</div>
						<% end %>

					
						<% if [2, 3, 10, 11].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:large)), work_path(work) %>
							</div>
						<% end %>

				<% end %>

		</div>
	<% end %>


</div>

<!-- End of Personal work -->





