
	<div class="work_show_box">

		<div class="work_show_right">
			<h3><%= @work.title %></h3>

			<% if @work.previous %>
				<p class="show_next shownav"><%= link_to "NEXT", @work.previous %></p>
			<% end %>
<!--
			<% if @work.next %>
				<p class="show_next shownav"><%= link_to "NEXT", @work.next %></p>
			<% end %>
-->
			<div class="show_images">
				<% if @work.image2.exists? %>
					<div class="show_image2"><%= image_tag @work.image2(:small) %></div>
				<% end %>

				<% if @work.image1.exists? %>
					<div class="show_image1"><%= image_tag @work.image1(:full) %></div>
				<% end %>	
			</div>
			
			<div class="show_content">
				<p><%= raw @work.content %></p>
			</div>
		</div>

		<div class="work_show_left">
		<!--
			<% if @work.previous %>
				<p class="show_back shownav"><%= link_to "BACK", @work.previous %></p>
			<% end %>
		-->
			<% if @work.next %>
				<p class="show_back shownav"><%= link_to "BACK", @work.next %></p>
			<% end %>

		</div>	
	</div>