
	<div class="work_show_box">

		<div class="work_show_right">
			<h2><%= @work.title %></h2>
			<% if @next <= @total %>
				<p class="show_next shownav"><%= link_to "NEXT", work_path(@next) %></p>
			<% end %>

			<% if @work.image2.exists? %>
				<div class="show_image2"><%= image_tag @work.image2(:small) %></div>
			<% end %>

			<% if @work.image1.exists? %>
				<div class="show_image1"><%= image_tag @work.image1(:large) %></div>
			<% end %>
			
			<div class="show_content">
				<p><%= raw @work.content %></p>
			</div>
		</div>

		<div class="work_show_left">
			<% if @back > 0 %>
				<p class="show_back shownav"><%= link_to "BACK", work_path(@back) %></p>
			<% end %>
		</div>	
	</div>