<% @page = "work" %>
<% @subpage = "client" %>


<!-- Client Work -->

<div class="work_index_box">

	<h2 class="category <%= "underline" if @subpage == "personal" %>"><%= link_to "Personal", works_path %></h2>
	<h2 class="category <%= "underline" if @subpage == "client" %>"><%= link_to "Client", clients_path %></h2>

	<% if @worksa %>
		<div class="work_index_occurance <%= 'three' if @worksa_total >= 1 && @worksa_total <= 3 %><%= 'six' if @worksa_total >= 4 && @worksa_total <= 6 %><%= 'nine' if @worksa_total >= 7 && @worksa_total <= 9 %><%= 'eleven' if @worksa_total >= 10 && @worksa_total <= 11 %><%= 'fourteen' if @worksa_total >= 12 && @worksa_total <= 14 %>">
		
			

				<% @b = Hash[@worksa.map.with_index.to_a] %>

				<% @worksa.each do |work| %>

						
						<% if [1, 4, 7, 8, 12].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:small)), work_path(work) %>
							</div>
						<% end %>


						<% if  [0, 5, 6, 9, 13].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:medium)), work_path(work) %>
							</div>
						<% end %>

					
						<% if [2, 3, 10, 11].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:large)), work_path(work) %>
							</div>
						<% end %>

				<% end %>

		</div>
	<% end %>


	<!-- 2nd instance -->
	<% if @worksb %>
		<div class="work_index_occurance <%= 'three' if @worksb_total >= 1 && @worksb_total <= 3 %><%= 'six' if @worksb_total >= 4 && @worksb_total <= 6 %><%= 'nine' if @worksb_total >= 7 && @worksb_total <= 9 %><%= 'eleven' if @worksb_total >= 10 && @worksb_total <= 11 %><%= 'fourteen' if @worksb_total >= 12 && @worksb_total <= 14 %>">
		
			

				<% @b = Hash[@worksb.map.with_index.to_a] %>

				<% @worksb.each do |work| %>

						
						<% if [1, 4, 7, 8, 12].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:small)), work_path(work) %>
							</div>
						<% end %>


						<% if  [0, 5, 6, 9, 13].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:medium)), work_path(work) %>
							</div>
						<% end %>

					
						<% if [2, 3, 10, 11].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:large)), work_path(work) %>
							</div>
						<% end %>

				<% end %>

		</div>
	<% end %>




	<!-- 3rd instance -->
	<% if @worksc %>
		<div class="work_index_occurance <%= 'three' if @worksc_total >= 1 && @worksc_total <= 3 %><%= 'six' if @worksc_total >= 4 && @worksc_total <= 6 %><%= 'nine' if @worksc_total >= 7 && @worksc_total <= 9 %><%= 'eleven' if @worksc_total >= 10 && @worksc_total <= 11 %><%= 'fourteen' if @worksc_total >= 12 && @worksc_total <= 14 %>">
		
			

				<% @b = Hash[@worksc.map.with_index.to_a] %>

				<% @worksc.each do |work| %>

						
						<% if [1, 4, 7, 8, 12].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:small)), work_path(work) %>
							</div>
						<% end %>


						<% if  [0, 5, 6, 9, 13].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:medium)), work_path(work) %>
							</div>
						<% end %>

					
						<% if [2, 3, 10, 11].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:large)), work_path(work) %>
							</div>
						<% end %>

				<% end %>

		</div>
	<% end %>




	<!-- 4th instance -->
	<% if @worksd %>
		<div class="work_index_occurance <%= 'three' if @worksd_total >= 1 && @worksd_total <= 3 %><%= 'six' if @worksd_total >= 4 && @worksd_total <= 6 %><%= 'nine' if @worksd_total >= 7 && @worksd_total <= 9 %><%= 'eleven' if @worksd_total >= 10 && @worksd_total <= 11 %><%= 'fourteen' if @worksd_total >= 12 && @worksd_total <= 14 %>">
		
			

				<% @b = Hash[@worksd.map.with_index.to_a] %>

				<% @worksd.each do |work| %>

						
						<% if [1, 4, 7, 8, 12].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:small)), work_path(work) %>
							</div>
						<% end %>


						<% if  [0, 5, 6, 9, 13].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:medium)), work_path(work) %>
							</div>
						<% end %>

					
						<% if [2, 3, 10, 11].include? @b[work] %>
							<div class="i index_image<%= @b[work] %>">
									<%= link_to (image_tag work.image1(:large)), work_path(work) %>
							</div>
						<% end %>

				<% end %>

		</div>
	<% end %>




</div>

<!-- End of Client work -->